.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__item {
  border-radius: 2px;
  border: 0.7px solid var(--dark-grey);
  color: var(--black);
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.active {
    background-color: var(--button-grey-hover);
    color: var(--white);

    &:hover {
      color: var(--white);
      opacity: 0.7;
    }
  }

  &.disabled {
    display: none;
  }

  &:hover {
    color: var(--dark);
  }

  &:active {
    color: var(--dark);
    opacity: 0.5;
  }
}

.pagination__link {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: inherit;
  display: inline-block;
  padding: 2px 9px;
}
