.catalog {
  width: 100%;
  max-width: 700px;
}

.catalog__sort {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  background-color: transparent;
  border: none;
  margin-left: 19px;

  &:hover,
  &:focus,
  &:active {
    color: var(--dark);
  }

  &:active {
    opacity: 0.5;
  }

  &:not(:nth-child(1)) {
    margin-left: 34px;
  }
}

.catalog__sort-buttons {
  justify-self: flex-end;
  margin-left: auto;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__item {
  width: 31%;
}
