.button {
  border: none;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 2px;
  color: var(--white);
  background-color: var(--light-grey);

  &--medium {
    padding: 8px 27px;
    font-size: 12px;
    line-height: 14px;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &:hover {
    background-color: var(--button-grey-hover);
  }

  &:active {
    background-color: var(--dark-grey);
  }

  // &--ghost {
  //   background-color: transparent;

  //   &:hover,
  //   &:focus,
  //   &:active {
  //     color: var(--dark);
  //   }

  //   &:active {
  //     opacity: 0.5;
  //   }
  // }

  &--accent {
    color: var(--white);
    background-color: var(--accent);

    &:hover {
      background-color: var(--accent-hover);
    }

    &:active {
      background-color: var(--accent-active);
    }
  }
}
