*, *::before, *::after {
  box-sizing: border-box;
}


:root {
  --black: #000000;
  --white: #FFFFFF;
  --bg-header: rgba(30, 9, 6, 0.15);
  --dark: #474747;
  --light-grey: #C1C1C1;
  --medium-grey: #6C6C6C;
  --dark-grey: #9F9E9E;
  --button-grey-hover:  #585757;
  --accent: #E27F00;
  --accent-hover: #FFA839;
  --accent-active: #DA8B26;
  --red: #F20505;
  --pale-grey: #F6F3F3;
  --pale-orange: #F7F3F3;
  --pale-grey2: #DDDDDD;
  --dark2: #3F3F3F;
  --opaque-grey: #bcbcbc;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Droid Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Droid Sans';
  src: url('fonts/DroidSans-Bold.woff2') format('woff2'), url('fonts/DroidSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Droid Sans';
  src: url('fonts/DroidSans.woff2') format('woff2'),
    url('fonts/DroidSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
