.confirmation-popup__content {
  text-align: center;
  padding: 15px 0 24px;
}

.confirmation-popup__button {
  font-size: 16px;
  padding: 13px 17px;
  width: 100%;
  height: 46px;
  max-width: 220px;
  margin: 0 19px 0 18px;
}
