.navigation__list {
  display: flex;
  list-style: none;
}

.navigation__link {
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: var(--black);

  &:hover,
  &:focus,
  &:active {
    color: var(--dark);
  }

  &:active {
    opacity: 0.5;
  }
}
