.header__top {
  padding: 20px 0;
  background-color: var(--bg-header);
}

.header__bottom {
  background-image: url('../../img/lines.png');
  background-position: 0 24px;
  background-repeat: no-repeat;
  background-size: 100% 74px;
  height: 213px;
  position: relative;

  @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
    background-image: url('../../img/lines@2x.png');
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  flex: 0 0 auto;
}

.header__image {
  max-width: 878px;
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  top: -34px;
}

.header__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__icon {
  margin: 0 36px;
  color: var(--black);

  &:hover,
  &:focus,
  &:active {
    color: var(--dark);
  }

  &:active {
    opacity: 0.5;
  }
}

.header__icon:last-child {
  margin-right: 0;
}

.header__items-count {
  height: 23px;
  font-size: 10px;
  line-height: 12px;
  margin-left: 3px;
  color: var(--red);
}
