.checkout-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0 19px;
  border-bottom: 0.7px solid #dddada;

  &:first-of-type {
    border-top: 0.7px solid #dddada;
    margin-top: 28px;
  }
}

.checkout-item__delete-button {
  position: absolute;
  top: 12px;
  left: -6px;
  background-color: transparent;
  border: none;
  color: var(--dark-grey);
  cursor: pointer;
  padding: 10px;

  &:hover {
    color: var(--grey);
  }

  &:active {
    opacity: 0.5;
  }
}

.checkout-item__image-container {
  display: flex;
  justify-content: center;
  width: 136px;
  height: auto;
  margin-right: 24px;
}

.checkout-item__image {
  text-align: center;
}

.checkout-item__info {
  max-width: 342px;
  width: 100%;
  align-self: flex-start;
  margin: 0;
}

.checkout-item__heading {
  word-wrap: break-word;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.checkout-item__description {
  margin: 0 0 6px;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}

.checkout-item__price {
  white-space: nowrap;
  margin: 4px 15px 0;
  font-size: 20px;
  letter-spacing: 1.2px;
  flex: 1 1 auto;
  max-width: 156px;

  &--bold {
    text-align: end;
    margin-right: 0;
    justify-self: flex-end;
    margin-left: auto;
    font-weight: bold;
  }
}

.checkout-item__change-amount {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 1px solid var(--dark-grey);
  color: var(--dark-grey);
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;

  &:hover {
    color: var(--grey);
  }

  &:active {
    opacity: 0.5;
  }
}

.checkout-item__amount {
  padding: 0 5px;
  text-align: center;
  min-width: 28px;
  color: var(--dark-grey);
}

.checkout-item__amount-block {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
  margin-top: 20px;
  align-self: flex-start;
}
