.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__icon {
  display: inline-block;
  margin-right: 12px;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: var(--dark);
  margin-right: 12px;
}
