.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
}

.breadcrumbs__icon {
  margin: 0 15px;
}

.breadcrumbs__link {
  text-decoration: none;
  color: var(--dark);

  &:hover {
    text-decoration: underline;
  }
}
