.product-popup__content {
  display: flex;
}

.product-popup__info {
  margin: 14px 20px 0 0;
}

.product-popup__image {
  margin-right: 40px;
}

.product-popup__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin: 0 0 14px 0;
}

.product-popup__text {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1.2px;
  margin: 0 0 6px 0;
}

.product-popup__price {
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 1.2px;
  margin: 20px 20px 0 0;
  white-space: nowrap;
}

.product-popup__button-section {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin-left: auto;
}

.product-popup__button {
  font-size: 16px;
  padding: 15px 6px;
  width: 220px;
  margin-top: 16px;

  letter-spacing: 1.5px;

  &:first-child {
    margin-top: 14px;
  }
}
